.navbar-container{
  display: flex;
  height:90px;
  border: 1px solid black;
  justify-content: space-evenly;
  align-items: center;
}
.nav-box1{ 
  display: flex;
  justify-content: space-evenly;
  width:420px ;
}
.nav-box2{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width:220px ;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 350px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown:hover{
    text-decoration: underline;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .mid-nav-title{
  font-size: 15px;
  }
  .mid-nav-p{
    font-size: 12px;
  }
  /* //------------------------------------------------------// */
  .dropdown:hover .dropdown-content {display: block;}
   /* //------------------------------------------------------// */
  .btn-1{
background-color: black;
color: white;
border-radius: 25px;
padding: 6px;
font-size: 13px;
font-weight: bold;
width:150px;
cursor: pointer;
  }
  .btn-1-create-btn{
    background-color: white;
color: black;
border: 2px solid black;
border-radius: 25px;
padding: 6px;
font-size: 13px;
font-weight: bold;
width:150px;
cursor: pointer;
  }
.nav-box1-div{
    background-color: white;
    margin-bottom: 5px;
    padding: 16px 0px;
  }
.nav-box1-h3{
    font-weight: bold;
    text-align: start;
    margin-left: 15px;
  }
.nav-box1-sub_div{
display: flex;
padding: 10px;
}
.nav-box1-sub_div img{
  width: 55px;
}
.nav-box1-p{
  font-size: 12px;
  margin-left: 10px;
  color: rgb(114, 109, 109);
}
.login-btns{
 display: flex;
 justify-content: space-evenly; 
}